<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% unless page.title.strip.empty? %}{{ page.title }} | {% endunless %}{{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div id="wrapper">
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    </div>
  </body>
</html>
